.main {
  background-color: #fff;
  width: 82.5vw;
  min-height: 78vh;
  border-radius: 0.5rem;
  color: black;
}

.movies {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-columns: auto;
}